
.main_input h1{
    font-size: 20pt;
    color: aqua;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 40px 0 0 30px;
}

.button{
    transition: 500ms;
    width: 150px;
    height: 25px;
    border-radius: 5px;
    background: #1d9999;
    box-shadow: 0 0 5px aqua;
    color: white;
    font-weight: 700;
    font-size: 14pt;
}
.buttonStyle{
    width: 825px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.button:hover{
    box-shadow: 0 0 10px aqua;
    background: aqua;
    color: black;
}
