
.nav {
    grid-area: nav;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    color: aqua;
    font-size: 16pt;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    display: block;
    width: 100%;

}


.nav div:first-child {
    margin-top: 60px;
}

.main__menu div {
    transition: all 500ms;
    background: rgba(0, 0, 0, 0.5);
    margin: 20px 5px 0 3px;
    padding: 10px;

}

.main__menu div:hover {
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}