/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

ul li {
    list-style-type: none;
}



.footer {
    width: 100%;
    height: 200px;
    background: #000;
}

.app-wrapper {
    display: grid;
    grid-template-areas:
    "header header"
    "nav content";

    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
    /*
    grid-gap: 10px;
    */
}

.header {
    grid-area: header;
    width: 100%;
    background: rgba(0, 0, 0, 0.9)
}

.logo{
    width: 70px;
    height: 70px;
}
.logo img{
    width: 100%;


}

.nav {
    grid-area: nav;
    background: rgba(0, 0, 0, 0.8);
   margin: 10px 10px 0 0;
}

.content {
    background:aqua;
    grid-area: content;
}
.main-image{
    width: 100%;
}
.main-image img{
    width: 100%;
}